* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #412567;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 50px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  margin: 20px;
}
nav .logo {
  color: #ffffff;
  text-shadow: #0000;
}
.btn {
  width: 135px;
  height: 44px;
  padding: 10px;
  line-height: 12px;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(100deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
  border: none;
  border-radius: 20px;
}
.btn img{
}
.section-1{
    height: 650px;
    background-image: url("../Images/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}
section .header{
    /* width: 100px; */
    /* height: 100px; */
    background-image: url("../Images/hero-circle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
