* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  background-color: #1a0b2e;
}
nav {
  background-color: #412567;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  margin: 15px;
}
.logo span {
  color: #ffffff;
  background: linear-gradient(#f7e93f, #fb09b4, #9100f8);
}
nav .logo {
  color: #ffffff;
  text-shadow: #0000;
}
.btn-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 140px;
  height: 44px;
  padding: 10px;
  line-height: 12px;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(
    100deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  border: none;
  border-radius: 20px;
}
.btn {
  margin: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 44px;
  padding: 10px;
  line-height: 12px;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(
    100deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  border: none;
  border-radius: 20px;
}
.btn-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 160px;
  height: 44px;
  padding: 10px;
  line-height: 12px;
  cursor: pointer;
  color: #00ff88;
  background: none;
  border: 1px solid #00ff88;
  border-radius: 20px;
}
.section-1 {
  height: 650px;
  background-image: url("../Images/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  align-items: center;
  justify-content: center;
}
.section-1 .header div h2 {
  margin: 4px 0 0 290px;
  background-color: #00ff88;
  font-size: 17px;
  text-align: center;
  width: 75px;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
}
.section-1 .header {
  height: 290px;
  background-image: url("../Images/hero-circle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section-1 .header .microphone {
  margin: 5px 0 0 200px;
}
.section-1 .name h1 {
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  margin: 10px;
}
.section-1 .name p {
  text-align: center;
  font-size: 17px;
  color: #ffffff;
  margin: 10px;
}
.podcast {
  height: 550px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.podcast .About {
  text-align: center;
  color: #ffffff;
}
.podcast .About h2 {
  font-size: 40px;
  padding: 10px;
}
.podcast .About p {
  line-height: 30px;
}
.podcast .user {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.podcast .user h1 {
  color: #00ff88;
  font-size: 40px;
}
.podcast .user h5 {
  color: #ffffff;
}
.Why-TechWave {
  height: 900px;
  background-color: #230e3d;
  color: #ffffff;
}
.Why-TechWave h1 {
  text-align: center;
  padding: 30px;
}
.Why-TechWave h3 {
  margin: 5px;
  font-size: 22px;
}
.Why-TechWave p {
  padding: 5px;
  line-height: 18px;
  font-size: 16px;
}
.Why-TechWave .audio {
  height: 800px;
}
.Why-TechWave img {
  height: 30px;
  width: 30px;
  margin: 5px;
}
.Why-TechWave .Choose {
  height: 480px;
  gap: 15px;
  display: grid;
  grid-template-columns: 280px 580px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.Why-TechWave .item-1 {
  height: 450px;
  width: 250px;
  background-color: #351165;
  border-radius: 20px;
  padding: 40px;
}
.Why-TechWave .item {
  gap: 15px;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 630px;
  height: 450px;
}
.Why-TechWave .item-2 {
  height: 200px;
  width: 630px;
  background-color: #351165;
  border-radius: 20px;
  padding: 40px;
}
.Why-TechWave .resource {
  height: 280px;
  gap: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 655px 210px;
}
.Why-TechWave .access {
  height: 250px;
  width: 590px;
  padding: 40px;
  border-radius: 20px;
  background-color: #351165;
}
.Why-TechWave .access-1 {
  height: 250px;
  width: 260px;
  padding: 40px;
  border-radius: 20px;
  background-color: #351165;
}
.content {
  height: 1100px;
}
.content .Episodes {
  height: 700px;
}
.content h2 {
  font-size: 40px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}
.content .episode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .Episodes .episode .epi {
  margin: 15px;
  background-color: #250d44;
  width: 400px;
  height: 550px;
  border-radius: 20px;
}
.content .Episodes .episode .epi h3 {
  color: #ffffff;
  padding: 5px 10px 0;
  font-size: 22px;
}
.content .Episodes .episode .epi p {
  color: #ffffff;
  padding: 5px 10px 0;
  font-size: 13px;
}
.content .Episodes .episode .epi .clock {
  color: #00ff88;
  display: flex;
  align-items: start;
  gap: 10px;
  margin: 5px 0 0 10px;
}
.content .meet {
  height: 350px;
}
.content .meet .expert {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .meet .Alex {
  width: 850px;
  height: 250px;
  margin: 10px;
  background-color: #351165;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.content .meet .Alex .Kumar {
  margin: 10px;
}
.content .meet .Alex .Kumar h3 {
  color: #ffffff;
  padding: 5px;
  font-size: 28px;
}
.content .meet .Alex .Kumar p {
  color: #ffffff;
  padding: 10px;
  font-size: 14px;
}
.content .meet .Alex .img {
  margin: 15px;
  width: 400px;
}
.content .meet .Alex .Kumar .social {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.content .meet .Alex .Kumar .social a {
  padding: 9px;
  border: 2px solid #533c72;
  border-radius: 20px;
}
footer {
  height: 300px;
  background-image: url("../Images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
}
footer h1 {
  margin-bottom: 20px;
  font-size: 70px;
  text-align: center;
}
footer .media {
  display: flex;
  gap: 25px;
}
footer .media a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
footer p {
  color: #ffffff;
  padding: 5px;
  text-align: center;
  margin: 30px;
}
@media screen and (max-width: 576px) {
  nav .btn-1::before {
    background-image: url("../Images/hamburger-menu.png");
  }
  nav ul::before {
    align-items: hidden;
  }
  .section-1 {
    background-position: 0px 70px;
    background-size: contain;
  }
  .section-1 .header {
    background-position: 170px 10px;
    background-size: 30%;
  }
  .section-1 .header .microphone img {
    width: 20%;
    margin-left: 12px;
  }
  .section-1 .header div h2 {
    text-align: center;
    height: 35px;
    width: 50px;
    font-size: 12px;
  }
  .Why-TechWave {
    display: grid;
    width: 450px;
    height: 1500px;
    grid-template-columns: repeat(1, 1fr);
  }
  .Why-TechWave .Choose .item-1 {
    width: 400px;
    height: 280px;
    gap: 16px;
  }
  .Why-TechWave .Choose .item {
    width: 400px;
    height: 450px;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
  .Why-TechWave .Choose .item-2 {
    width: 400px;
    height: 210px;
    gap: 16px;
  }
  .Why-TechWave .Choose .item-3 {
    width: 400px;
    height: 210px;
    gap: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
}
